body{
    padding: 200px;
}
.login-area{
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    margin-top: 100px;
    padding: 50px;
    
}
#deposit{
    background-color: lightgreen;
}
#withdraw{
    background-color: red;
}
#balance{
    background-color: seagreen;
}
.status{
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 0 70px;
    
}
#transaction-container{
    display: none;
}